# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 **Objectives:**
 * Know tools used in  datascience
 * use jupyter
 * Use Git and create a Github account
 * Get started with python

Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Scikit
2. Keras
3. TensorFlow

| Data Science Tools |
| :----------------: |
| MySql |
| Airflow |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
#This a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

## Author
Stive YMELE